<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todos</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script data-main="app/config" src="assets/js/libs/require.js"></script>
    <script>
      // define bootstrap inside .erb so we can easily inject the default collection
      define("bootstrap", ["collections/todos"], function(TodoList) {
        return function() {
          TodoList.reset(<%= @todos.to_json %>);
        };
      });

      // require main to kickstart the app
      require(["main"]);
    </script>
  </head>
  <body>
    <div class="shell container-fluid">
      <div class="page-header">
        <h1>Todos</h1>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <div id="todo-stats" class="well hidden transition-opacity"></div>
        </div>

        <div class="span10">
          <div class="row">
            <div class="span8">
              <div id="todo-add">
                <div id="todo-add" class="input-append">
                  <input class="span6" type="text" placeholder="Remember the milk..."><button class="btn" type="button">Add</button>
                </div>
              </div>
              <ul id="todo-list" class="bordered"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
